doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Webcycles
        link(rel='stylesheet', type='text/css', href='../../site/css/border.css')
        link(rel='stylesheet', type='text/css', href='../../site/css/settings.css')
        link(rel='stylesheet', type='text/css', href='../../site/css/editinfo.css')
    body
        if msg
            .alert.flex #{msg}
        .wrapper
            a.box.logo(href='/home')
            .box.leaderboard-banner
            .box.sidebar
                a.btn.Game(href='/game')
                    .overlay Game
                a.btn.Blog(href='/blog')
                    .overlay Blog
                a.btn.Account(href='/account')
                    .overlay Account
            .flex.content
                .inputContainer
                    .text
                        h1 Change Password

                    form(action="/changePassword", method="post")
                        h2 Current Password:
                        input(type="password", class="textFormBox", id="password", name="currentPassword", required)
                        br
                        br
                        br
                        h2 New Password:
                        input(type="password", class="textFormBox", id="newPassword", name="newPassword", required)
                        br
                        br
                        br
                        h2 Confirm Password:
                        input(type="password", class="textFormBox", id="confirmPassword", name="confirmPassword", required)
                        br
                        br
                        br
                        input(type="submit")
                        input(id="cancel", type="button", onClick="location.href ='../settings'" value="Cancel")