body {
    overflow: scroll;

}

.content {
    position: relative;
    width: 70%;
    height:100%;
    display:block;
    text-align: justify;
    text-justify-trim: inter-word;
    margin: 0 auto;
    overflow: visible;
    background-color: #63edb5;
    color:white;

}

.text {
    background-color: #63ed9e;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    color: white;
}
.header {
    text-align: center;
}
.pic {
    width: 50%;
    font-size: 10px;
}

.picture {
    margin: auto;
    width: 150%;
}

.video {

    background-color: #63ed9e;
    margin: 0 auto;
}

.vid{
    width:100%;
}


