body{overflow-y: scroll; }

.content {
    position: relative;
    top: 0;
    left:0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto auto auto;
    text-align: center;
}


.pic {
    margin-left:auto;
    margin-right:auto;
    font-size: 10px;
}

.picture {
    height: 50%;
    width: 50%;
}

.header {
    grid-column: 2;
}
.text {
    grid-column: 2;
    grid-row: 4;
}


