@font-face {
    font-family: "Josefin Sans";
    src: url("content/fonts/JosefinSans-Bold.ttf");
}

@font-face {
    font-family: "AmaticSC";
    src: url("content/fonts/AmaticSC-Regular.ttf");
}

html,body {
    height:100%;
}

body {
    font-family: 'Josefin Sans', sans-serit;
    overflow:hidden;
    background-color:#FDFEF1;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
            "logo leaderboard"
            "sidebar content";
    grid-template-columns: 25vw 75vw;
    grid-template-rows: 15vh 80vh;
    min-height: 50vh;
}
.box {
    border-radius: 10px;
}

.content {
    grid-area: content;
    background: #fdfef0;
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(10,minmax(1em,70vh));
}

.logo {
    grid-area: logo;
    background-image: url("content/resources/logo.jpg");
    background-repeat: no-repeat;
    background-size: 35vh;
    background-position: 50% 50%;
}

.logo:hover {
    transform:scale(1.2);
}

.leaderboard-banner {
    grid-area: leaderboard;
    background-image: url("content/resources/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar {
    grid-area: sidebar;
    padding: 20px;
    display: grid;
    grid-row-gap: 25px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,23vh);
    grid-template-areas:
            "Gamebtn"
            "Blogbtn"
            "Accountbtn"
            "Settingbtn";
    background: skyblue;
    min-height:70vh;
    max-height:80vh;
}

.btn {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 60%;
    width:100%;
    height:100%;
    background-position: 50% 50%;
    background-color:#fdfef0;
}

a,a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}

.btn:hover .overlay{
    opacity: 1;
}

.overlay {
    opacity: 0;
    background: #89CEEA;
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'AmaticSC', sans-serit;
    font-size: 100px;
}

.Game {
    grid-area: Gamebtn;
    background-image: url("content/resources/game.jpg");
}
.Blog{
    grid-area: Blogbtn;
    background-image: url("content/resources/blog.jpg");
}
.Account{
    grid-area: Accountbtn;
    background-image: url("content/resources/account.jpg");
}

.flex {
    display:flex;
    align-items: center;
    justify-content: center;
}

