@font-face {
    font-family: "Josefin Sans";
    src: url("content/fonts/JosefinSans-Bold.ttf");
}

body{
    overflow: hidden;
}

@font-face {
    font-family: "AmaticSC";
    src: url("content/fonts/AmaticSC-Regular.ttf");
}

.text h2 {
    display: inline;
}

.text p {
    display: inline;
    font-size: 20pt;

}

form h2, form input[type="text"] {
    display:inline;
}

#newUsername, .changePassword {
    font-size: 15px;
    border-radius:10px 10px;
    width: 25vw;
    height: 5vh;
    display: block;
    text-align: left;
    position: relative;
    border-top: 1px solid transparent;
    border-bottom: none;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

}

#newUsername:after {

    background-image: -webkit-linear-gradient( right , #FFF 40%, rgba(255, 255, 255, 0));
    background-image: linear-gradient(to left, #FFF 40%, rgba(255, 255, 255, 0));
}

#newUsername:before {
background-image: -webkit-linear-gradient( left , #FFF 40%, rgba(255, 255, 255, 0));
background-image: linear-gradient(to right, #FFF 40%, rgba(255, 255, 255, 0));
}