.text h2 {
    display: inline;
}

.text p {
    display: inline;
    font-size: 20pt;

}

.text {
    text-align: center;
}

form h2, form input[type="text"] {
    display:inline;
}



.textFormBox {
    font-size: 15px;
    border-radius:10px 10px;
    width: 15vw;
    height: 5vh;
    text-align: left;
    position: relative;
    border-top: 1px solid transparent;
    border-bottom: none;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

}

#newUsername:after {

    background-image: -webkit-linear-gradient( right , #FFF 40%, rgba(255, 255, 255, 0));
    background-image: linear-gradient(to left, #FFF 40%, rgba(255, 255, 255, 0));
}

#newUsername:before {
background-image: -webkit-linear-gradient( left , #FFF 40%, rgba(255, 255, 255, 0));
background-image: linear-gradient(to right, #FFF 40%, rgba(255, 255, 255, 0));
}

.content {
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}

.inputContainer {
    display:grid;
    grid-template-rows: 120px 1fr;
}

#newPassword {
    left:2vw;
}