

#searchContainer {
    grid-row: 2;
    grid-column: 2/span 3;
}

#searchBox {
    border-radius: 1vw;
    border: 1px solid;
    height:50%;
    padding-left: 10px;
    width: 100%;
}

#searchContainer > * {
    float:left;
}

#userTable {
    grid-row:3/span 6;
    grid-column: 2/span 11;
}

img {
    display: block;
}

table {
    background:rgba(134, 206, 236, 0.7);
    border-collapse: collapse;;
}

thead, tbody { display: block; }

tbody {
    height:60vh;
    overflow: auto;
}

table,th,td {
    border:5px solid #3c9da4;
}

td {
    text-align: center;
}

tr {
    cursor: pointer;
    width:100%;
}

tr:hover {
    background:rgba(134, 206, 236, 1);
}