#backarrow {
    background-image: url("content/resources/back.png");
    background-size:contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}

.arrowcontainer {
    grid-row: 1;
    grid-column: 1;
}

.gamenav {
    grid-row:1;
    grid-column:2 /span 6;
    display:grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(4,1fr);
    background: #86ceec;
    text-align: center;
    border-radius: 10px;
    border:1px solid;
    padding:4px;
}

.nav {
    color:black !important;
    height:100%;
    width:100%;
}

.navContainer {
    height:100%;
    width:100%;
    border-radius: 10px;
}

.default, .navContainer:hover {
    background: #3c9da4;
}

#btn-playerscore {
    grid-row-start: 2;
    grid-column-start: 2;
    font-size: 50px;
}

#btn-recycling {
    grid-row-start: 2;
    grid-column-start: 8;
}

#btn-charities {
    grid-row-start: 7;
    grid-column-start: 2;
    font-size: 70px;
}

#btn-friends {
    grid-row-start: 7;
    grid-column-start: 8;
}

.gamebtn {
    grid-row-end: span 3;
    grid-column-end: span 4;
    background:#86ceec;
    border-radius:1vw;
    font-family: 'AmaticSC', sans-serit;
    font-size: 80px;
    background-size: contain;
    margin:0 30px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid black;
}

.gamebtn:hover .overlay {
    opacity: 1;
}

.gamebtn > .overlay {
    border-radius:1vw;
    background:rgba(0,0,0,0.5) !important;
}

#btn-playerscore {
    background-image: url("../css/content/resources/playerscore.jpg");
}
#btn-recycling {
    background-image: url("../css/content/resources/recycling.jpg");
}
#btn-friends {
    background-image: url("../css/content/resources/friends.jpg");
}
#btn-charities {
    background-image: url("../css/content/resources/charity.jpg");
}