@font-face {
    font-family: "Josefin Sans";
    src: url("content/fonts/JosefinSans-Bold.ttf");
}



@font-face {
    font-family: "AmaticSC";
    src: url("content/fonts/AmaticSC-Regular.ttf");
}

html, body {
    height: 100%;
}

body {
    overflow:hidden;
    display:flex;
    align-items: center;
    justify-content: center;
}


.video-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;

    width: auto;
    height: auto;

    position:absolute;
}

.content {
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    width: 25%;
    padding: 20px;
    text-align: center;
    animation: float 6s ease-in-out infinite;
}
#title {
    font-size: 45px;
    font-stretch: ultra-expanded;
    font-family: "AmaticSC";
}

#slogan {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serit;
}

#names {
    font-size: 10px;
    font-family: 'Josefin Sans', sans-serit;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}
