@font-face {
    font-family: "Josefin Sans";
    src: url("content/fonts/JosefinSans-Bold.ttf");
}

body{
    overflow: hidden;
}

@font-face {
    font-family: "AmaticSC";
    src: url("content/fonts/AmaticSC-Regular.ttf");
}



.video-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;

    width: auto;
    height: auto;

    position:absolute;
}

.content {
    position: absolute;
    top: 37vh;
    left: 35vw;
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    width: 25%;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
    grid-row-gap: 10px;
}

.submit,.back {
    width:10vw !important;
    font-size:20px;
    background-color: #89CEEA;
}

#login, #register {
    width:10vw !important;
    height: 7vh;
    font-size:20px;
    background-color: #89CEEA;
    position:relative;
    top:1vh;
    margin: 0 10px;
}

.errorMsg {
    color:red;
}


.content input,#btnContainer button {
    border-radius: 10px;
    padding: 15px;
    width: 20vw;
    border: 0;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-family: "Josefin Sans";
    margin: 10px 10px 10px 10px;
}


.title {
    font-size: 45px;
    font-stretch: ultra-expanded;
    font-family: "AmaticSC";
}
#loginForm, #registrationForm {
    opacity: 0;
    display:none;


}
#loginForm.show, #registrationForm.show {
    opacity: 1;
    display:block;
}



#btnContainer.hidden {
    display:none;

}


