.charityInfo{
    grid-row: 2/ span 5;
    grid-column: 2/ span 3;
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:2fr 1fr;

}

.charityInfo .image {
    background-image: url("content/resources/charitySample.jpg");
    width:55% !important;
}

#infoContainer {
    grid-column: 5/span 6 !important;
    grid-row: 2/ span 6 !important;
}

.materials {
    grid-template-rows:10vh 15vh repeat(4,10vh) !important;
}

.icon {
    padding:0 !important;
}