#backarrow {
    background-image: url("content/resources/back.png");
    grid-row: 1;
    grid-column: 1;
    background-size:contain;
    background-repeat: no-repeat;
}

.profileContainer {
    grid-row: 2/ span 3;
    grid-column: 2/ span 3;
}

#profilePicture {
    background-image: url("content/resources/user1.png");
    background-size: cover;
    height: 100%;
    width: 65%;
    background-position: 50% 50%;
    border:1px solid;
    border-radius: 100%;
}

#addUser {
    grid-column: 2/ span 3;
    grid-row: 5;
}

#blockUser {
    grid-column: 2/ span 3;
    grid-row: 6;
}

button {
    border:0;
    background:#89CEEA;
    height:100%;
    width:100%;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serit;
    font-size:20px;
}

#playerDetails {
    grid-row:2/span 2;
    grid-column: 6/span 7;
    border:1px solid;
    border-radius: 10px;
}

#infoContainer {
    grid-row:4/span 7 !important;
    grid-column: 6/span 7 !important;
}

.materials {
    grid-template-rows: 10vh 15vh repeat(4,10vh) !important;
}

.icon {
    padding:0 !important;
}